<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21162608210-ktfbvc25e9gpf49mak960a4hv0g5g79f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21162608210-ktfbvc25e9gpf49mak960a4hv0g5g79f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21162608210-rl3ik616gfgdja5b8dhp5ghjskckt0bj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDirlF6zOlYU1lIoxrQzslLk_O9-zu89UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>21162608210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holtz.flutterPlatzi</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-66398</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-66398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21162608210:ios:3ca131b264c029f800c18b</string>
</dict>
</plist>